

/*.nav-header  {*/
/*    width: 100%;*/
/*    background-color: whitesmoke;*/
/*    border: 1px solid blue;*/
/*}*/

/*.nav-links-left-top {*/
/*    display: inline-block;*/
/*}*/

/*.nav-links-left li{*/
/*    float: left;*/

/*     list-style-type: none;
}*/

/*.nav-links-right  {*/
/*    float: right;*/
/*}*/


/*.nav-links-right li{*/
/*    display: inline-block;*/

/*}*/

.container {
    display: -webkit-flex;
    display: flex;
    border: 5px solid #eeffcc;
    height: 3rem;
    /*margin: 0.2%;*/

}

.flex1 {
    -webkit-flex: 1;
    display: flex;
    flex: 1;
    width: 600px;
    min-width: 100px;
    margin: auto;
}

.flex1 > li {
    display: inline-block;
    margin: 1rem;

}

.li-structure {
    margin-right: 2px;
}

.flex-middle-top {
    -webkit-flex: 2;
}
.flex2 {
    -webkit-flex: 1;
    flex: 1;
    width: 600px
}
.flex2 > li {
    display: inline-block;
    margin-right: 1rem;
}

.aside-items-cat {

    text-decoration-line: none;


}

ul > li > .aside-items-all {
    display: inline-block;
    margin-bottom: 0.2rem;
    list-style: none;
    text-decoration-line: none;
}

.search-function {
    display: -webkit-flex;
    display: flex;
    border: 2px solid #ee22cc;
    height: 2rem;
    margin-bottom: 0.5%;
    /*margin: 1rem auto;*/
}

.search-button {
    background-color: #0405ff;
    color: white;
    border-radius: 10px;
}

.body-container {
    display: -webkit-flex;
    display: flex;

}
.body-middle {
    -webkit-flex: 2;
    display: flex;
    flex: 2;
    margin-right: 2rem;
}
.central-body-right {
    -webkit-flex: 4;
    display: flex;
    flex: 4;
    margin-right: 2rem;
    margin-left: 2rem;
}

.search-form {
    display: -webkit-flex;
    display: flex;
    flex: 2;
    /*width: 100%;*/
    border-radius: 32%;


}
